@import url(./bootstrap-reboot.min.css);
@import url(./bootstrap-grid.min.css);

.app-header {
  height: 60px;
  background: darkblue;
  padding: 0 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-title,
.menu-link {
  cursor: pointer;
  color: white;
  margin: 0;
}

.app-header--menu > .menu-container {
  margin: 0;
  display: flex;
  list-style: none;
  padding: 0;
}

.app-header--menu > .menu-toggler--mobile {
  display: none;
}

.menu-link {
  margin: 0 7px;
}

.menu-container > a.active {
  font-weight: bolder;
}

.site-button,
.site-button--outline {
  background: coral;
  color: white;
  padding: 0.7em;
  border-radius: 5px;
  border-width: 0;
}

.site-button--outline {
  background: transparent;
  color: black;
  border: 2px solid coral;
}

.site-button:focus,
.site-button--outline:focus {
  box-sizing: border-box;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  outline: none;
}

@media screen and (max-width: 320px) {
  .app-header--menu > .menu-container:not(.hide) {
    z-index: 1;
    background: darkblue;
    flex-direction: column;
    align-items: center;
    position: absolute;
    padding: 0;
    margin: 0;
    top: 60px;
    left: 0;
    right: 0;
  }

  .app-header--menu > .menu-container.hide {
    display: none;
  }

  .app-header--menu > .menu-toggler--mobile {
    display: block;
    border: 2px solid white;
    box-sizing: content-box;
    background: transparent;
    padding: 0.3em 0.8em 0.4em 0.8em;
    color: white;
  }

  .menu-container a {
    width: 100%;
  }

  .menu-container li {
    width: 100%;
    text-align: center;
    padding: 1em 0;
    margin: 0;
  }

  .menu-container li:hover {
    background: darkgrey;
  }
}
