<main class="container-fluid">

  <div class="row jumbotron-background">
    <div class="col-12 mx-auto">
        <div class="site-jumbotron mx-auto">
          <h1 class="jumbotron-text">Get your favorite meal with MunchDrop</h1>
          <p class="jumbotron-lead my-3 mb-4">MunchDrop is a Namibian web application 
          where you can order any of your favourite restaurant's 
          food and have it delivered to you in no time.</p>
          <button to="/auth/login" class="site-button">Get started</button>
        </div>
    </div>
  </div>

  <div class="row site-info py-3">

    <% for(card of state.cards) { %>
    <div class="col-sm-6 col-lg-4 my-3 mx-auto">
      <div class="info-card">
        <div class="card-title">
          <h5><%= card.title %></h5>
        </div>
        <div class="card-body">
          <p class="card-text">
            <%= card.text %>
          </p>
          <div class="card-actions">
            <button 
              to="/about"
              class="site-button--outline"
            >Learn More</button>
          </div>
        </div>
      </div>
    </div>
  <% } %>

  </div>
</main>


<style>
.jumbotron-background {
  padding: 5em 0;
  background: lightblue;
}

.site-jumbotron {
  background: #f4f4f4;
  border-radius: 5px;
  padding: 2em;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  max-width: 600px;
}

.jumbotron-text {
  font-size: 1.8em;
}

.site-info {
  background: #f4f4f4;
}

.info-card {
  border: 1px solid rgba(10, 10, 110, 0.3);
  background: white;
  padding: 2em;
}

.info-card > .card-title {
  font-size: 1.3em;
  font-style: italic;
}
</style>