<main class="container-fluid">

  <div class="row my-5 py-4">
    <div class="col-12 mx-auto">
        <div class="site-jumbotron mx-auto">
          <h1 class="jumbotron-text">Welcome to your E-Drive</h1>
          <p class="jumbotron-lead">E-Drive provides for secure, personalized cloud storage.</p>
          <button class="site-button">Get started</button>
        </div>
    </div>
  </div>

  <div class="row site-info py-5">

    <div class="col-md-6 col-lg-4">
      <div class="info-card">
        <div class="card-title">
          <h5>Supports all file types</h5>
        </div>
        <div class="card-body">
          <p class="card-text">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt, explicabo!
          </p>
          <div class="card-actions">
            <button class="site-button--outline">Learn More</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-4">
        <div class="info-card">
          <div class="card-title">
            <h5>Supports all file types</h5>
          </div>
          <div class="card-body">
            <p class="card-text">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt, explicabo!
            </p>
            <div class="card-actions">
              <button class="site-button--outline">Learn More</button>
            </div>
          </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-4">
        <div class="info-card">
          <div class="card-title">
            <h5>Supports all file types</h5>
          </div>
          <div class="card-body">
            <p class="card-text">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt, explicabo!
            </p>
            <div class="card-actions">
              <button class="site-button--outline">Learn More</button>
            </div>
          </div>
      </div>
    </div>

  </div>
</main>

<style>
  .site-jumbotron {
    background: #f4f4f4;
    border-radius: 5px;
    padding: 1em;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
    max-width: 600px;
  }

  .site-button, .site-button--outline {
    background: coral;
    color: white;
    padding: .7em;
    border-radius: 5px;
    border-width: 0;
  }

  .site-button--outline {
    background: transparent;
    color: black;
    border: 2px solid coral;
  }

  .site-info {
    background: #f4f4f4;
  }

  .info-card {
    border: 1px solid rgba(10, 10, 110, 0.3);
    background: white;
    padding: 2em;
  }

  .info-card > .card-title {
    font-size: 1.3em;
    font-style: italic;
  }
</style>