<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name=description content="<%= meta.description %>">
  <style>@import url('/public/css/bootstrap-reboot.min.css');</style>
  <link rel="stylesheet" href="/public/styles.css">
  <title><%= meta.title %></title>
</head>
<body>
  <%- include('partials/header.ejs', { meta }) %>
  <%- body %>
  <script src="/public/app.js"></script>
</body>
</html>