<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name=description content="<%= meta.description %>">
  <link rel="stylesheet" href="/public/css/global.css">
  <title><%= meta.title %></title>
</head>
  <body>
    <%- include('partials/header.ejs', { meta }) %>
    <%- body %>
    <% if (process.env.NODE_ENV !== 'development') { %>
    <script src="/public/scripts/socket.io.js"></script>
    <script>
      if(io) {
        try {
          let socket = io('http://localhost:9000')
          socket.on('save', () => {
          location.reload()
        })
        } catch {}
      }
      </script>
    <% } %>
    <script type="module" src="/public/lib/index.js"></script>
  </body>
</html>
